

html, body { 
    font-family: 'Newake';
    padding: 0;
    margin: 0;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
}


@font-face {
    font-family: "Newake";
    src: url("NewakeFont-Demo.otf") format("truetype");
}


.desktop-only {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #13339A;
    color: #fff;
}

.desktop-only p {
    position: fixed;
    top: 5px;
    left: 5vh;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    font-size: 3vh;
}

.mobile-only {
    display: block;
}

@media only screen and (min-width: 768px) {
    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
}


:root {
    --main-color: #13339A;
    --divi: calc(var(--doc-height) / 3);
}


.princ{
    margin: 0;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;    
    overflow-x: hidden;
    font-size:  7.5vh;
    height: var(--divi);
}

.princ p {
    position: absolute;
    top: 10%;
}

.btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    height: var(--divi);
}

#consultar {
    position: relative;
    top: calc(var(--divi)/2);
    text-decoration: none;
    font-family: 'Newake';
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 25vh;
    height: 7.5vh;
    text-align: center;
    display: inline-block;
    font-size: 4vh;
}

#consultar:hover {
    background-color: #f5a07c;
    color: var(--main-color);
}

.logo {
    width: 100%;
    height: var(--divi);
    position: relative;
}

.logo_img {
    width: 80%;
    /*height: 100%;*/
    position: absolute;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    /*right: 0;*/
    margin: auto;
}