

html, body { 
    font-family: 'Newake';
    padding: 0;
    margin: 0;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
}


@font-face {
    font-family: "Newake";
    src: url("NewakeFont-Demo.otf") format("truetype");
}

/*
.desktop-only {
    display: none;
    position: relative;
    height: var(--doc-height);
    width: 100%;
    background-color: #13339A;
    color: #fff;
}

.desktop-only > p {
    position: absolute;
    text-align: center;
    padding: 0;
    font-size: 3.5vh;
    width: 90%;
}

.desktop-only > .parra {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.desktop-only > .parrb {
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.desktop-only img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.mobile-only {
    display: block;
}

@media only screen and (min-width: 768px) {
    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
}


@media only screen and (min-width: 650px) {
    br {
      display: none;
    }
}
*/

:root {
    --main-color: #13339A;
}


.princ{
    margin: 0;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;    
    font-size:  7.5vh;
    height:  calc(var(--doc-height) / 3);   
}

.princ p {
    /*position: absolute;
    top: 5%;*/
}

.btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    height: calc(var(--doc-height) / 6);
}

a {
    text-decoration: none;
    color: inherit;
}

#consultar {
    position: relative;
    top: 60%;
    text-decoration: none;
    font-family: 'Newake';
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 25vh;
    height: 40%;
    text-align: center;
    display: inline-block;
    font-size: 4vh;
}

#consultar:hover {
    background-color: #f5a07c;
    color: var(--main-color);
}

.logo {
    width: 100%;
    height: calc(var(--doc-height) / 2);
    position: relative;
}

.logo_img {
    max-width: 95%;
    max-height: 95%;
    /*height: 100%;*/
    position: absolute;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    /*right: 0;*/
    margin: auto;
}
