@font-face {
    font-family: "Newake";
    src: url("NewakeFont-Demo.otf") format("truetype");
}

:root {
    --main-color: #13339A;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Newake';
}

.arriba {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;    
    font-size:  5vh;
    padding-top: 1vh;
}

.terminos {    
    color: var(--main-color);
    height: 100px;
    margin-top: 6vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding-left: 4vh;
    width: 100%;
    font-size: 5.5vh;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    padding: 4vh;
    padding-top: 2.5vh;    
    /*text-align: justify;
    text-justify: inter-word;*/
    text-align: left;
    color: var(--main-color);
    font-size: 1.7vh;
}